<script  >
jquery(function($){
	$("#mergeCtl_tabs_ul li a").live('click',function(){
		$('.mergeCtl_tabs').hide();
		
		$( $(this).attr('tabid') ).show();
		$(".mergeCtl_tabs_select").removeClass('mergeCtl_tabs_select');
		$(this).addClass('mergeCtl_tabs_select');
		
		return false;
	});
	
	$('#mergeCtl_remark_a').click(function(){
		$(this).hide();
		$('#mergeCtl_remark').parent().show();
		return false;
	});
	
	$('#mergeCtl_modify_target_btn').click(function(){
		$('.mergeCtl_modify_target_form').toggle();
		return false;
	});
	
	$("#mergeCtl_modify_target_saveType").change(function(){
		if($(this).val() == 'special'){
			$("#mergeCtl_modify_target_save_params").show();
		}else{
			$("#mergeCtl_modify_target_save_params").hide();
		}
	});
	
	$("#mergeCtl_pageToView_findPage_ad").click(function(){
		$("#mergeCtl_pageToView_page_span").toggle();
		$("#mergeCtl_pageToView_page").toggle();
		$('#mergeCtl_pageToView_params').parents('div:first').toggle();
	});
	
	$('.mergeCtl_change_panel').find('a').live('click',function(){
		$("#mergeCtl_panel").toggle();
		$("#mergeCtl_result").toggle();
			
		return false;
	});
	
	$('.mergeCtl_result_ajax').find('a').live('click',function(){
		var href = $(this).attr('href');
		
		$.ajax({
			url : href+ "&rspn=msgqueue" ,
			type: "POST",
			dataType : 'html',
			success : function(msg) {
				freshResult(msg);
			}
		});
		
		return false;
	});
	
	function freshResult(msg){
		$.ajax({
			url : "?c=org.opencomb.mvcmerger.merger.ControllerMerger&rspn=noframe" ,
			type: "POST",
			dataType : 'html',
			success : function(html) {
				$('#mergeCtl_result').html( $(html).find('#mergeCtl_result').contents() );
				if(msg !== undefined){
					$("#mergeCtl_result_msgqueue").html(msg);
				}
			}
		});
	}
	
	$('#mergeCtl_result_onlythis').live('change',function(){
		var classname = "{=str_replace('\\','.',$sRequestC)}";
		
		if(this.checked){
			$('#mergeCtl_result .mergeCtl_result_controllers[classname!="'+classname+'"]').hide();
		}else{
			$('#mergeCtl_result .mergeCtl_result_controllers').show();
		}
	});
	
	$("#mergeCtl_pageToView_findPage_btn").click(function(){
		$.ajax({
			url : '?c=org.opencomb.mvcmerger.struct.StructBrowser&rspn=noframe',
			type: "POST",
			data : {'allowSelectClass':'c'},
			dataType : 'html',
			success : function(html) {
				$('body').append('<div id="mergeCtl_select_dialog" style="width:700px;height:500px;"></div>');
				
				$("#mergeCtl_select_dialog").append(html);
				
				var dialog = $("#mergeCtl_select_dialog").wijdialog({
					width: 700
					, height: 500
					, title: '选择网页'
					, zIndex:710
					, resize: function(event, ui) {
						resizeFrame();
					}
					, captionButtons: {
			            pin: { visible: false },
			            refresh: { visible: false },
					}
					, stateChanged : function(event,data){
						resizeFrame();
					}
				}) ;
				
				
				var dialogOuter = dialog.parents('.ui-dialog:first');
				dialogOuter.find('.ui-icon-carat-1-n').attr('title','折叠');
				dialogOuter.find('.ui-icon-minus').attr('title','最小化');
				dialogOuter.find('.ui-icon-extlink').attr('title','最大化');
				dialogOuter.find('.ui-icon-close').attr('title','关闭');
				
				resizeFrame();

				structBrowser.onSelectChange = function(data){
					dialog.wijdialog('close');
					$("#mergeCtl_pageToView_page_span").html(data['class']);
					$("#mergeCtl_pageToView_page").val(data['class']);
					$('#mergeCtl_pageToView_params').val(data['params']);
				};
				
				function resizeFrame(){
					
					var ui = $('#mergeCtl_select_dialog').parents('.ui-dialog:first');
					
					var rightWidth = 100;
					
					$('#iframe-browser').width( ui.width() - rightWidth -50 );
					
					$('#iframe-browser').height( ui.height() - 70 );
				}
			}
		});
	});
	
	$('.mergeCtl_textToView_save_btn').click(function(){
		var ajaxData = {};
		
		var nIndex = $("#mergeCtl_tabs_ul li").index($('#mergeCtl_tabs_ul li').has('.mergeCtl_tabs_select'));
		
		if( nIndex == 0 ){
			ajaxData = {
					target:$('#mergeCtl_modify_target_name').val()
					,mergeType:'text'
					,saveType:$("#mergeCtl_modify_target_saveType").val()
					,targetParams:$("#mergeCtl_modify_target_save_params").val()
					,sourceTitle:$("#mergeCtl_textToView_title").val()
					,sourceContent:CKEDITOR.instances.mergeCtl_textToView_textarea.getData()
					,sourceRemark:$("#mergeCtl_remark").val()
				};
		}else if( nIndex == 1 ){
			ajaxData = {
					target:$('#mergeCtl_modify_target_name').val()
					,mergeType:'page'
					,saveType:$("#mergeCtl_modify_target_saveType").val()
					,targetParams:$("#mergeCtl_modify_target_save_params").val()
					,source:$("#mergeCtl_pageToView_page").val()
					,sourceParams:$("#mergeCtl_pageToView_params").val()
					,sourceRemark:$("#mergeCtl_remark").val()
				};
		}else if( nIndex == 2 ){
			ajaxData = {
					target:$('#mergeCtl_modify_target_name').val()
					,mergeType:'template'
					,saveType:$("#mergeCtl_modify_target_saveType").val()
					,targetParams:$("#mergeCtl_modify_target_save_params").val()
					,sourceTemplate:$("#mergeCtl_tempToView_template").val()
					,sourceParams:$("#mergeCtl_tempToView_params").val()
					,sourceRemark:$("#mergeCtl_remark").val()
				};
		}
		
		$.ajax({
			url : '?c=org.opencomb.mvcmerger.merger.ControllerMerger&rspn=msgqueue&a[]=/merger.ControllerMerger::form',
			type: "POST",
			data : ajaxData,
			dataType : 'html',
			success : function(html) {
				jquery("#mergeCtl_msgqueue").html(html);
				freshResult();
			}
		});
	});
	
	$.fn.zTree.init(
			$('#mergeCtl_templateTree'),
			{
				view : {
					showLine : true,
					selectedMulti : false,
					dblClickExpand : true,
					nameIsHTML : true,
					expandSpeed : 0
				}
				, callback : {
					beforeClick : function(treeId, treeNode){
						if(!treeNode.getParentNode() || treeNode['isDir'] === true ){
							return false;
						}
					}
					, onClick : function(event, treeId, treeNode) {
						if(!treeNode.isParent){
							var arrParents = [];
							var parentNode = treeNode;//.getParentNode();
							do{
								parentNode = parentNode.getParentNode();
								if( parentNode === null){
									break;
								}
								arrParents.unshift(parentNode.name);
							}while(true)
							
							var templateName = '';
							for(var nameKey in arrParents){
								if(nameKey == 0){
									templateName += arrParents[nameKey] + ':';
								}else{
									templateName += arrParents[nameKey] + '/';
								}
							}
							$('#mergeCtl_tempToView_template').val(templateName + treeNode.name);
						}
					}
				}
			}
			, {=$arrTemplateTreeData}
	);
	
	CKEDITOR.replace( 'mergeCtl_textToView_textarea',{
		toolbar:[
		    	{ name: 'basicstyles', items : [ 'Bold','Italic','Underline','Strike','Subscript','Superscript','-','RemoveFormat' ] },
		    	{ name: 'colors', items : [ 'TextColor','BGColor' ] },
		    	{ name: 'tools', items : [ 'Maximize' ] },
		    	{ name: 'paragraph', items : [ 'NumberedList','BulletedList','-','Outdent','Indent','-','Blockquote',
		    	'-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock','-','BidiLtr','BidiRtl' ] },
		    	{ name: 'links', items : [ 'Link','Unlink','Anchor' ] },
		    	{ name: 'insert', items : [ 'Image','Flash','Table','HorizontalRule','SpecialChar','Iframe' ] },
		    	{ name: 'styles', items : [ 'Styles','Format','Font','FontSize' ] }
		    ]
		, height: 160
	});
});

</script>

<div id="mergeCtl_panel">

	<div class="box_bj_left_button">
		<span class="box_button_left">
			<strong class="box_ico_web"></strong>
			<a id="mergeCtl_modify_target_btn" href='#' class="box_button_right">更改目标网页(高级)</a>
		</span>
		<div class="mergeCtl_modify_target_form box_st_top_kzq">
			<p><label>控制器类:</label><input id="mergeCtl_modify_target_name" type="text" style="width:60%;" value="{=$sRequestC}"/></p>
			<p><label></label><select id="mergeCtl_modify_target_saveType">
			<option value="current">仅当前网页生效</option>
			<option value="type">对同类网页生效</option>
			<option value="special">指定条件(高级)</option>
		</select>
		<input id="mergeCtl_modify_target_save_params" value="{=$sRequestParams}" style="width:50%;"/></p>
	</div>

</div>

<div id="mergeCtl_tabs">
	<ul id="mergeCtl_tabs_ul">
		<li><a tabid='#mergeCtl_tab_1' href="#mergeCtl_tab_1" class='mergeCtl_tabs_select'>富文本</a></li>
		<li><a tabid='#mergeCtl_tab_2' href="#mergeCtl_tab_2">网页</a></li>
		<li><a tabid='#mergeCtl_tab_3' href="#mergeCtl_tab_3">模板</a></li>
	</ul>
	<div class='mergeCtl_change_panel'>
		<span class="box_button_left ">
			<a href="#" class="box_button_right">编辑添加的视图</a>
		</span>
	</div>
	<div id="mergeCtl_tab_1" class="mergeCtl_tabs">
		<div class="box_from_title">
			<label><input id="mergeCtl_textToView_title"/></label>
			<h3>通过富文本编辑器,创建并添加一个视图</h3>
			<div class="clr"></div>
		</div>
		<div class="box_from_body">
			<textarea id="mergeCtl_textToView_textarea" ></textarea>
		</div>
	</div>
	
	<div id="mergeCtl_tab_2" class="mergeCtl_tabs" style="display:none;">
			<div class="box_st_web_cs">
			<h3>从已有的网页中,选择一个视图,添加到当前网页</h3>
			<span class="box_button_left">
			<strong class="box_ico_ss"></strong>
			<a id="mergeCtl_pageToView_findPage_btn" href='#' class="box_button_right">查找网页</a>
			</span>
			<div class="clr"></div>
			</div>
			<div class="box_st_web_csinput">
				<label >
					<strong>控制器类</strong>
					<span id="mergeCtl_pageToView_page_span" >点击"查找网页"选择一个需要添加到此的视图...</span>
					<input id="mergeCtl_pageToView_page" type="text" style="display:none;width:300px;"/>
					<a href="#" id="mergeCtl_pageToView_findPage_ad">[参数设定]</a>
				</label>
				<div style="display:none;">
				<label>
					<strong>参数</strong>
					<input id="mergeCtl_pageToView_params" type="text" style="width:400px;"/>
				</label>
				</div>
			</div>
			
	</div>
	
	<div id="mergeCtl_tab_3" class="mergeCtl_tabs"  style="display:none;">
		
		<div class="box_st_mb">
			<h3>使用模板文件创建并添加视图</h3>
			<div style="float:left;width:47%;">
				<h4>请选择系统中的模板文件</h4>
				
				<div id="mergeCtl_templateTree" class='ztree' style="border:1px solid #e3e3e3;padding:5px;width:260px;height:210px;overflow:auto">
				
				</div>
				
			</div>
			<div style="width:50%;float:right; padding-top:10px;">
					<label>选定模板 <input type="text" id="mergeCtl_tempToView_template"  value="还没有选定模板..." style="width:200px; border:0; color:#999"/></label>
				
					<label>视图参数 <input type="text" id="mergeCtl_tempToView_params" style="width:150px; color:#999"/></label>
			</div>
			
			<div style="clear:both"></div>
		</div>
	</div>
</div>

	<div class="box_st_footer">
		<label><input id="mergeCtl_remark"/></label>
		<button class="mergeCtl_textToView_save_btn">添加视图</button>
		<div id="mergeCtl_msgqueue"></div>
	</div>
	
</div>


<div id="mergeCtl_result" style="display:none;padding:10px;">

	<div class="box_st_edit">
		<label><input id="mergeCtl_result_onlythis" type="checkbox" value=""/>只显示当前网页</label>
		<span class="box_button_left mergeCtl_change_panel">
			<a id="mergeCtl_pageToView_findPage_btn" href='#' class="box_button_right">返回“添加视图”面板</a>
		</span>
	</div>
	
	<div id="mergeCtl_result_msgqueue" style="margin-top:30px;"></div>
	<div class="box_st_edit_body">
	<ul>
	<foreach for="$arrMergedControllers" key="sTargetControllerClass" item="arrControllers">
	<li class="mergeCtl_result_controllers" classname="{=str_replace('\\','.',$sTargetControllerClass)}">
		<div class="box_st_edit_lei">
			<span></span>控制器类：
			<a href="?c={=str_replace('\\','.',$sTargetControllerClass)}" target='_blank'>{=$sTargetControllerClass}</a>
			<!-- <a href="?c=org.opencomb.mvcmerger.merger.ControllerMerger&a[]=/merger.ControllerMerger::removeMerge&target={=$sTargetControllerClass}&idx=-1"></a> -->
		</div>
		
		<div>
			<ul>
			<foreach for="$arrControllers" item="arrMergedPatchs" key="sMergeType">
				<foreach for="$arrMergedPatchs" item="arrMerged" key="nIdx">
					<if '$arrMerged["mergeType"] == "text"'>
						<li style="text-indent:2em;margin:5px 0">
							<div class="mergeCtl_result_ajax">
								<strong class="box_st_fwb">[富文本]</strong><span title="{=htmlentities($arrMerged['content'])}">{=htmlentities($arrMerged['content'])}</span>
								<a class='' href="?c=org.opencomb.mvcmerger.merger.ControllerMerger&a[]=/merger.ControllerMerger::disMerge&target={=$sTargetControllerClass}&idx={=$nIdx}">{=$arrMerged['enable'] ? "<span class='box_st_jinyong'>禁用</span>":"<span class='box_st_qiyong'>启用</span>" }</a>
								<a href="?c=org.opencomb.mvcmerger.merger.ControllerMerger&a[]=/merger.ControllerMerger::removeMerge&target={=$sTargetControllerClass}&idx={=$nIdx}"><span class='box_st_shanchu'>删除</span></a>
							</div>
							<if "$arrMerged['mergeType']">
								<div class="box_st_edit_sx">生效条件：{= $sMergeType=='type'? '<所有>': $sMergeType}</div>
							</if>
							<if "$arrMerged['comment']">
								<div class="box_st_edit_bz">备注:{=$arrMerged['comment']}</div>
							</if>
						</li>
					</if>
					<if '$arrMerged["mergeType"] == "template"'>
						<li style="text-indent:2em;margin:5px 0">
							<div class="mergeCtl_result_ajax">
								<strong class="box_st_mby">[模板]</strong><span>{=$arrMerged['template']}</span>
								<a href="?c=org.opencomb.mvcmerger.merger.ControllerMerger&a[]=/merger.ControllerMerger::disMerge&target={=$sTargetControllerClass}&idx={=$nIdx}">{=$arrMerged['enable'] ? "<span class='box_st_jinyong'>禁用</span>":"<span class='box_st_qiyong'>启用</span>" }</a>
								<a href="?c=org.opencomb.mvcmerger.merger.ControllerMerger&a[]=/merger.ControllerMerger::removeMerge&target={=$sTargetControllerClass}&idx={=$nIdx}"><span class='box_st_shanchu'>删除</span></a>
							</div>
							<if "$arrMerged['mergeType']">
								<div class="box_st_edit_sx">生效条件：{= $sMergeType=='type'? '<所有>': $sMergeType}</div>
							</if>
							<if "$arrMerged['comment']">
								<div class="box_st_edit_bz">备注:{=$arrMerged['comment']}</div>
							</if>
						</li>
					</if>
					<if '$arrMerged["mergeType"] == "page"'>
						<li style="text-indent:2em;margin:5px 0">
							<div class="mergeCtl_result_ajax">
								<strong class="box_st_wyy">[网页]</strong><a href="?c={=str_replace('\\','.',$arrMerged['controller'])}" target='_blank'>{=$arrMerged['controller']}</a>
								<a href="?c=org.opencomb.mvcmerger.merger.ControllerMerger&a[]=/merger.ControllerMerger::disMerge&target={=$sTargetControllerClass}&idx={=$nIdx}">{=$arrMerged['enable'] ? "<span class='box_st_jinyong'>禁用</span>":"<span class='box_st_qiyong'>启用</span>" }</a>
								<a href="?c=org.opencomb.mvcmerger.merger.ControllerMerger&a[]=/merger.ControllerMerger::removeMerge&target={=$sTargetControllerClass}&idx={=$nIdx}"><span class='box_st_shanchu'>删除</span></a>
							</div>
							<if "$arrMerged['params']">
								<div class="box_st_edit_sx">参数：{=$arrMerged['params']}</div>
							</if>
							<if "$arrMerged['mergeType']">
								<div class="box_st_edit_sx">生效条件：{= $sMergeType=='type'? '<所有>': $sMergeType}</div>
							</if>
							<if "$arrMerged['comment']">
								<div class="box_st_edit_bz">备注:{=$arrMerged['comment']}</div>
							</if>
						</li>
					</if>
				</foreach>
			</foreach>
			</ul>
		</div>
	</li>
</foreach>
</ul>
</div>
</div>
