<lib name="jquery.ui" />
<lib name="jquery.ztree" />
<lib name="jquery.tip" />
<lib name='jquery.farbtastic'/>
<lib name='jquery.json'/>
<lib name='ckeditor'/>

<script src="mvc-merger:js/fselecter.js" />
<script src="mvc-merger:js/jquery.wijmo-open.all.2.1.4.min.js" />
<script src="mvc-merger:js/jquery.base64.js" />
<script src="mvc-merger:js/merge-pannel.js" />
<script src="mvc-merger:js/merge-pannel-layout.js" />
<script src="mvc-merger:js/setPageLayout.js" />

<css src="mvc-merger:css/merge-pannel.css" />
<css src="mvc-merger:css/jquery.wijmo-open.2.1.4.css" />
<css src="mvc-merger:css/box.css" />


<script>
__arrSkins = {=$__arrSkins};
</script>

<div id='mergepannel-dialog'>
	<span id="mergepannel-layout-msgqueue"></span>
	<div id='mergepannel-layout' class="mvcmerger_pages">
	<!--板式皮肤选择-->
		<div class="box_bj_top">
			<div class="box_bj_top_tab">
				<p class="box_tab_v" tab="frame_selecter">板式选择</p>
				<p  tab="skin_selecter">皮肤选择</p>
				<span class="box_button_left">
					<a href="#" class="box_button_right">导入皮肤</a>
				</span>
			</div>
			<div id="frame_container">
				<div id="frame_selecter" class="box_frame">
					<div class="box_top_left" to="left">
						<a href="#" title="上一个"></a>
					</div>
					<div class="frame_selecter_item_container">
						<div class="box_frame_img ">
							<a href="#" title="#"><img src='{/mvc-merger:image/frame1.png}' alt="#" /></a>
							<span>1</span>
						</div>
						<div class="box_frame_img ">
							<a href="#" title="#"><img src='{/mvc-merger:image/frame1.png}' alt="#" /></a>
							<span>2</span>
						</div>
						<div class="box_frame_img">
							<a href="#" title="#"><img src='{/mvc-merger:image/frame1.png}' alt="#" /></a>
							<span>3</span>
						</div>
						<div class="box_frame_img">
							<a href="#" title="#"><img src='{/mvc-merger:image/frame1.png}' alt="#" /></a>
							<span>4</span>
						</div>
						<div class="box_frame_img">
							<a href="#" title="#"><img src='{/mvc-merger:image/frame1.png}' alt="#" /></a>
							<span>5</span>
						</div>
						<div class="box_frame_img">
							<a href="#" title="#"><img src='{/mvc-merger:image/frame1.png}' alt="#" /></a>
							<span>6</span>
						</div>
						<div class="clr"></div>
					</div>
					<div class="box_top_right" to="right">
						<a href="#" title="下一个"></a>
					</div>
					<div class="clr"></div>
				</div>
			
				<div id="skin_selecter" class="box_frame hide">
					<div class="box_top_left" to="left">
						<a href="#" title="上一个"></a>
					</div>
					<div class="frame_selecter_item_container">
							<div id="cusSkin" class="box_frame_img box_frame_img_v">
								<a href="#" title="#"><img src='{/mvc-merger:image/frame1.png}' alt="#" /></a>
								<span class="box_frame_skinName">自定义</span>
							</div>
						<if "$arrSkins !== array()">
						<foreach for="$arrSkins" key="sSkinName" item="arrSkin">
							<div class="box_frame_img">
								<a href="#" title="#">
									<div class="box_frame_skin_show">
										<div class="box_frame_skin_show_div"></div>
									</div>
								</a>
								<span class="box_frame_skinName">{=$sSkinName}</span>
								<strong><a class="box_frame_deleteSkin" href="#" title="删除皮肤"></a></strong>
								<p><a href="#" title="导出皮肤"></a></p>
							</div>
						</foreach>
						</if>
						<div class="clr"></div>
					</div>
					<div class="box_top_right" to="right">
						<a href="#" title="下一个"></a>
					</div>
					<div class="clr"></div>
				</div>
			</div>
			
			<div class="box_frameskin_foot">
				<a id="box_frameskin_foot_btn" href="#" title="#"></a>
			</div>
		</div>
		
		<div class="box_bj_all">
		<!--左侧-->
			<div class="box_bj_left">
				<div class="box_bj_left_button">
					<span class="box_button_left">
						<strong class="box_ico_firebug"></strong>
						<a href="#" class="box_button_right">点击查看页面元素</a>
					</span>
				</div>
				<ul id="mergepannel-viewtree" class="ztree"></ul>
			</div>
			
		<!--右侧-->
			<div class="box_bj_right">
				<div class="box_bj_right_top">
					<div class="box_bj_right_top_left">
						<span class="box_ico_mk"></span><span>国际 opencms_TopList_html</span>
					</div>
					<div class="box_bj_right_top_right">
						<span class="box_button_left">
							<a href="#" class="box_button_right">高级模式</a>
						</span>
					</div>
				</div>
				
				<div class="box_bj_right_footer">
					<div class="box_bj_right_addframe">
						<a href="#" title="增加一个下级布局框架" class="addframe mergepannel-tippalbe-element" id="mergepannel-props-frame-new-btn">添加框架</a>
						<button id="mergepannel-props-frame-delete-btn" class="mergepannel-tippalbe-element" title='删除布局框架,只有客户创建的布局框架才能删除'>删</button>
						<button id="mergepannel-props-frame-center-btn" class="mergepannel-tippalbe-element" title='让下级成员居中'>居中</button>
						<label><input id="mergepannel-props-frame-v" class="mergepannel-props-frame-type" name='mergepannel-props-frame-type' type="radio" value="v" />纵向</label>
						<label><input id="mergepannel-props-frame-h" class="mergepannel-props-frame-type" name='mergepannel-props-frame-type' type="radio" value="h" />横向</label>
						<label><input id="mergepannel-props-frame-s" class="mergepannel-props-frame-type"name='mergepannel-props-frame-type' type="radio" value="s" disabled />切换页</label>
						<label  class="mergepannel-tippalbe-element" title='把这个容器变成可填充容器,里面的子元素自动填充这个容器的空闲高度'><input id="mergepannel-frame-autoFill"  type="checkbox"/>自动高度</label>
					</div>
					<div id="mergepannel-props-common" class="box_bj_right_skin">
						<div>
							<p>显示</p>
							<span>
								<select id='mergepannel-props-display' >
									<option value="block">显示框架</option>
									<option value="none">隐藏框架</option>
								</select>
								<strong class="box_info"></strong>
							</span>
							<div class="clr"></div>
						</div>
						<div>
							<p>宽高</p>
							<span>
							<input class="mergepannel-tippalbe-element box_input1" id="mergepannel-props-width" style="width: 50px" title="设置视图或布局框架的宽度,可以使用百分比或单位,默认的单位是px" value="" />px	<input value="" style="width: 50px" id="mergepannel-props-height" class="mergepannel-tippalbe-element box_input2" title="设置视图或布局框架的高度,可以使用百分比或单位,默认的单位是px"  />px
							</span>
							<div class="clr"></div>
						</div>
						<div>
							<p>背景</p>
							<span>
							<input style="width: 55px" id="mergepannel-props-background-color" class="box_input3" />
							<div id="mergepannel-props-color-selecter"></div>
							<input style="width: 80px" id="mergepannel-props-background-image" class="box_input4" />
							<input style="width: 50px" id="mergepannel-props-background-position" class="box_input5" />
							<select id="mergepannel-props-background-repeat">
								<option value='no-repeat'>不重复</option>
								<option value='repeat'>重复</option>
								<option value='repeat-x'>横向重复</option>
								<option value='repeat-y'>纵向重复</option>
							</select>
							</span>
							<div class="clr"></div>
						</div>

						<!--  高级模式  -->
						<div class="mergepannel-props-ad">
						<div>
							<p>定位</p>
							<span>
								<select id="mergepannel-props-position">
									<option value="static">正常</option>
									<option value="relative">相对</option>
									<option value="absolute">绝对</option>
									<option value="fixed">窗口绝对</option>
								</select>
								<input style="width: 50px" class="box_input6" id="mergepannel-props-zindex" type="text"/>
								<input style="width: 28px" class="box_input7" id="mergepannel-props-top" type="text"/>px
								<input style="width: 28px" class="box_input8" id="mergepannel-props-left" type="text"/>px
								<input style="width: 28px" class="box_input9" id="mergepannel-props-bottom" type="text"/>px
								<input style="width: 28px" class="box_input10" id="mergepannel-props-right" type="text"/>px
							</span>
							<div class="clr"></div>
						</div>
						<div>
							<p>边框</p>
							<span>
								
										<input style="width: 50px" class="mergepannel-border box_input11" id="mergepannel-props-border-color" type="text"/>
										<input style="width: 50px" class="mergepannel-border box_input12" id="mergepannel-props-border-width" type="text"/>
										<select id="mergepannel-props-border-style" class="mergepannel-border" style='width:80px;display:inline;'>
											<option value="none">无</option>
											<option value="solid">实线</option>
											<option value="dotted">点状</option>
											<option value="dashed">虚线</option>
											<option value="double">双线</option>
											<option value="groove">3D 凹槽</option>
											<option value="ridge">3D 垄状</option>
											<option value="inset">3D 内部</option>
											<option value="outset">3D 外部</option>
										</select>
										<a id="mergepannel-props-borders-showmore" href="#" title="详细设定">分别设置</a>
							</span>
							<div class="clr"></div>
						</div>
						<div id='mergepannel-props-borders'>
						<div>
							<p>&nbsp;</p>
							<span>
							<h6>上</h6>
											<input style="width: 50px" class="mergepannel-border box_input11" id="mergepannel-props-border-top-color" type="text"/>
											<input style="width: 50px" class="mergepannel-border box_input12" id="mergepannel-props-border-top-width" type="text"/>
											<select id="mergepannel-props-border-top-style" class="mergepannel-border" style='width:80px;'>
												<option value="none">无</option>
												<option value="solid">实线</option>
												<option value="dotted">点状</option>
												<option value="dashed">虚线</option>
												<option value="double">双线</option>
												<option value="groove">3D 凹槽</option>
												<option value="ridge">3D 垄状</option>
												<option value="inset">3D 内部</option>
												<option value="outset">3D 外部</option>
											</select>
							</span>
							<div class="clr"></div>
						</div>
						<div>
							<p>&nbsp;</p>
							<span>
								<h6>右</h6>
											<input style="width: 50px" class="mergepannel-border box_input11" id="mergepannel-props-border-right-color" type="text"/>
											<input style="width: 50px" class="mergepannel-border box_input12" id="mergepannel-props-border-right-width" type="text"/>
											<select id="mergepannel-props-border-right-style" class="mergepannel-border" style='width:80px;'>
												<option value="none">无</option>
												<option value="solid">实线</option>
												<option value="dotted">点状</option>
												<option value="dashed">虚线</option>
												<option value="double">双线</option>
												<option value="groove">3D 凹槽</option>
												<option value="ridge">3D 垄状</option>
												<option value="inset">3D 内部</option>
												<option value="outset">3D 外部</option>
											</select>
							</span>
							<div class="clr"></div>
						</div>
						<div>
							<p>&nbsp;</p>
							<span>
								<h6>下</h6>
											<input style="width: 50px" class="mergepannel-border box_input11" id="mergepannel-props-border-bottom-color" type="text"/>
											<input style="width: 50px" class="mergepannel-border box_input12" id="mergepannel-props-border-bottom-width" type="text"/>
											<select id="mergepannel-props-border-bottom-style" class="mergepannel-border" style='width:80px;'>
												<option value="none">无</option>
												<option value="solid">实线</option>
												<option value="dotted">点状</option>
												<option value="dashed">虚线</option>
												<option value="double">双线</option>
												<option value="groove">3D 凹槽</option>
												<option value="ridge">3D 垄状</option>
												<option value="inset">3D 内部</option>
												<option value="outset">3D 外部</option>
											</select>
							</span>
							<div class="clr"></div>
						</div>
						<div>
							<p>&nbsp;</p>
							<span>
								<h6>左</h6>
											<input style="width: 50px" id="mergepannel-props-border-left-color" class="mergepannel-border box_input11" type="text"/>
											<input style="width: 50px" id="mergepannel-props-border-left-width" class="mergepannel-border box_input12" type="text"/>
											<select id="mergepannel-props-border-left-style" style='width:80px;'  class="mergepannel-border">
												<option value="none">无</option>
												<option value="solid">实线</option>
												<option value="dotted">点状</option>
												<option value="dashed">虚线</option>
												<option value="double">双线</option>
												<option value="groove">3D 凹槽</option>
												<option value="ridge">3D 垄状</option>
												<option value="inset">3D 内部</option>
												<option value="outset">3D 外部</option>
											</select>
							</span>
							<div class="clr"></div>
						</div>
						</div>
						<div>
							<p>外边距</p>
							<span>
								<input style="width: 33px" id="mergepannel-props-margin-top" class="box_input7" type="text"/>
								<input style="width: 33px" id="mergepannel-props-margin-right" class="box_input8" type="text"/>
								<input style="width: 33px" id="mergepannel-props-margin-bottom" class="box_input9" type="text"/>
								<input style="width: 33px" id="mergepannel-props-margin-left" class="box_input10" type="text"/>
							</span>
							<div class="clr"></div>
						</div>
						<div>
							<p>内边距</p>
							<span>
								<input style="width: 33px" id="mergepannel-props-padding-top" class="box_input7" type="text"/>
								<input style="width: 33px" id="mergepannel-props-padding-right" class="box_input8" type="text"/>
								<input style="width: 33px" id="mergepannel-props-padding-bottom" class="box_input9" type="text"/>
								<input style="width: 33px" id="mergepannel-props-padding-left" class="box_input10" type="text"/>
							</span>
							<div class="clr"></div>
						</div>
						<div>
							<p>自定义</p>
							<span>
								<textarea id="mergepannel-props-style" style="width:260px;height:100px; border:#c4c5ca 1px solid;" class="box_input13"></textarea>
							</span>
							<div class="clr"></div>
						</div>
						<div>
							<p>皮肤名</p>
							<span>
							<input id="mergepannel-props-skin" type="hidden"/>
							<button id="mergepannel-layout-saveToSkinBtn" title="将当前样式保存成皮肤">保存皮肤</button>
							<div id="mergepannel-skin-msgqueue" ></div>
							</span>
							<div class="clr"></div>
						</div>
						<div class="clr"></div>
					</div>
				</div>
				
			</div>
			
		</div>
		</div>
	
	
		<!--底部-->
		<div class="clr"></div>
		<div class="box_bj_footer">
			<div class="box_bj_footer_left">
				<select id="mergepannel-layout-saveType">
					<option value="type">对同类网页生效</option>
					<option value="current">仅当前网页生效</option>
					<option value="special">指定条件(高级)</option>
				</select>
				<input type="text" id='mergepannel-layout-save-parmas' style="display:none;width:200px;"/>
			</div>
			<div class="box_bj_footer_right">
				<button id="mergepannel-layout-savebtn">保存</button>
				<button id="mergepannel-layout-cleanbtn" title="清理本页面所有样式">清理</button>
			</div>
			
		</div>
		
	</div>
	
	
	<!-- tab页面其他的内容会动态添加在这里 -->
	<div id="mergepannel-controllermerger" class='mvcmerger_pages'>
	
	</div>
	
</div>

<div class="body_top">
	<div class="body_top_menu">
		<a href="#" title="视图布局" class="body_top_bj" tab="mergepannel-layout">视图布局</a>
		<a href="#" title="添加视图" class="body_top_st" tab="mergepannel-controllermerger">添加视图</a>
		<a href="#" title="模板编织" class="body_top_bz" tab="ub_dialog">模板编织</a>
		<a href="#" title="" class="body_top_pin body_top_pin_selected">导航锁定</a>
		<a href="#" title="" class="body_top_pinnow">导航悬浮</a>
	</div>
</div>
<div class="body_top_down">
	<p></p>
</div>


<script>
// 初始化 mvc merger pannel
var sMvcMergerPublicFolderUrl = '{=$sImageFolder}' ;
var sMvcMergerController = '{=$sControllerClass}' ;
var bMvcMergerLog = {=$log? 'true': 'false'} ;
var mapMVCMergerItemProperties = {=$arrLayoutProperties} ;

jquery(document).ready(function(){
	MergerPannel.instance = new MergerPannel() ;
	MergerPannel.instance.init() ;
	
	//颜色选择器
	if(jquery('#mergepannel-props-background-color').val() != ''){
		jquery('#mergepannel-props-background-color').css('background-color' , jquery('#mergepannel-props-background-color').val());
	}
	
	jquery('#mergepannel-props-background-color').change(function(){
		if(jquery(this).val() == ''){
			jquery(this).css('background-color' ,'');
		}
	});
	
	jquery('#mergepannel-props-color-selecter').farbtastic(function(color){
		jquery('#mergepannel-props-background-color').val(color).css('background-color' , color).change();
	});
	
	jquery('#mergepannel-props-background-color').focusin(function(){
		jquery('#mergepannel-props-color-selecter')
		.css({
			'top':jquery(this).position().top - 200,
			'left':0
		})
		.show();
	});
	jquery('#mergepannel-props-background-color').focusout(function(){
		jquery('#mergepannel-props-color-selecter').hide();
	});
}) ;
</script>