<lib name="jquery.ui" />
<lib name="jquery.ztree" />
<script src="mvc-merger:js/merge-pannel.js" />
<script src="mvc-merger:js/merge-pannel-layout.js" />
<css src="mvc-merger:css/merge-pannel.css" />
<div id='mergepannel-dialog'>

	<div id='mergepannel-layout'>
	
	
		<!-- frame/view 结构树 -->
		<div id='mergepannel-layout-struct'>
			<span id='mergepannel-layout-struct-title'>视图布局结构</span>
			<div id="mergepannel-viewtree" class="ztree"></div>
		</div>
		
		
		<!-- frame/view 属性面板 -->
		<div id="mergepannel-properties" style="display:none">
			<div id="mergepannel-props-type">layout item type</div>
			<div>
				ID: <span id="mergepannel-props-id">layout item element id</span>
			</div>
			
			<!-- 用于 frame -->
			<div id="mergepannel-props-frame-type" style="display:none">
				类型：
				<label>
					<input id="mergepannel-props-frame-ipt-v" class="mergepannel-props-frame-type" name='mergepannel-props-frame-type' type="radio" value="v" />
					纵向
				</label>
				
				<label>
					<input id="mergepannel-props-frame-ipt-h" class="mergepannel-props-frame-type" name='mergepannel-props-frame-type' type="radio" value="h" />
					横向
				</label>
				
				<label>
					<input id="mergepannel-props-frame-ipt-s" class="mergepannel-props-frame-type" name='mergepannel-props-frame-type' type="radio" value="s" disabled />
					切换页
				</label>				
			</div>
		</div>
		
		
	</div>

</div>


<!-- 用于拖拽视图时的提示 -->
<div id="mergepannel-viewtree-dropping-tip">---------------</div>

<script> 
var sMvcMergerPublicFolderUrl = '{/mvc-merger:image}' ; 
</script>