<lib name='jquery.treeview' />

<style type="text/css">
#browser {
	font-family: Verdana, helvetica, arial, sans-serif;
	font-size: 68.75%;
}
.selectClass{
	color:blue;
	font-weight:bold;
}
.structBrowser_left{
	width:200px;
	height:100%;
	overflow: auto;
	float:left;
}
.structBrowser_right{
	width:600px;
	height:100%;
	overflow: auto;
	float:left;
}
</style>
<script type="text/javascript">
var structBrowser = {
	_mvcstruct:null,
	parentObject:null,
	allowSelectClass:[],
	selectType:""
} ;

structBrowser.log = function(text)
{
	if( typeof(console)!='undefined' )
	{
		console.log(text) ;
	}
}
structBrowser.setMvcStruct = function(struct)
{
	structBrowser._mvcstruct = struct ;
	jQuery("#browser").empty().append(structBrowser._loadController(structBrowser._mvcstruct)).treeview();
}
structBrowser._loadModel = function(aModel)
{
	var span = jQuery("<span class='folder model'>[M] "+aModel.name+"</span>");
	var li = jQuery("<li></li>") ;
	li.append(span);
	li.append(structBrowser._loadModelList(aModel.models)) ;
	return li ;
}
structBrowser._loadModelList = function(arrModels)
{
	if(arrModels.length)
	{
		var source = jQuery('<ul></ul>') ;
		for(var i=0;i<arrModels.length;i++)
		{
			source.append(structBrowser._loadModel(arrModels[i])) ;
		}
		
		return source ;
	}
	else
	{
		return '' ;
	}
}
structBrowser._loadView = function(aView)
{
	var source = jQuery("<li><span class='folder view'>[V] "+aView.name+"</span></li>") ;
	source.append(structBrowser._loadViewList(aView.views)) ;
	
	return source ;
}
structBrowser._loadViewList = function(arrViews)
{
	if(arrViews.length)
	{
		var source = jQuery('<ul></ul>') ;
		for(var i=0;i<arrViews.length;i++)
		{
			source.append(structBrowser._loadView(arrViews[i])) ;
		}
		
		return source ;
	}
	else
	{
		return '' ;
	}
}
structBrowser._loadController = function(aController)
{
	if(!aController){
		return;
	}
	var source = jQuery('<li><span class="folder controller">[C] '+aController.name+'</span></li>') ;
	source.append(structBrowser._loadModelList(aController.models))
			.append(structBrowser._loadViewList(aController.views))
			.append(structBrowser._loadControllerList(aController.controllers));
	source.find('.controller:first').data("class",aController.class)
								.data("params",aController.params)
								.data("title",aController.title);
	return source ;
}
structBrowser._loadControllerList = function(arrControllers)
{
	if(arrControllers.length)
	{
		var source = jQuery('<ul></ul>') ;
		for(var i=0;i<arrControllers.length;i++)
		{
			source.append(structBrowser._loadController(arrControllers[i])) ;
		}
		
		return source ;
	}
	else
	{
		return '' ;
	}
}
structBrowser.setCurrentUrl = function(sUrl)
{
	jQuery('#current_url').val(sUrl) ;
}
structBrowser.location = function(sUrl)
{
	if(typeof(sUrl)=='undefined')
	{
		sUrl = jQuery('#current_url').val() ;
	}

	if(sUrl.search('\\?')<0)
	{
		sUrl+= '?' ;
	}
	if(sUrl.search('mvcmerger_browser')<0)
	{
		sUrl+= '&mvcmerger_browser=1' ;
	}
	structBrowser.log(sUrl) ;
	jQuery('#iframe-browser').get(0).contentWindow.location = sUrl ;
}
structBrowser.closeArgsAndTitleInputByNeed = function(){
	if( this.selectType == "target"){
		jQuery('#args').get(0).disabled = true;
		jQuery('#title').get(0).disabled = true;
	}
}
structBrowser.getArgumentFromParent = function(){
	var sAllowSelectClass = window.dialogArguments['allowSelectClass'];
	for(var i =0 ; i< sAllowSelectClass.length ; i++){
		switch(sAllowSelectClass.substr(i,1))
		{
			case "c":
				this.allowSelectClass.push("controller");
				break
			case "v":
				this.allowSelectClass.push("view");
				break
			case "m":
				this.allowSelectClass.push("model");
				break
			case "w":
				this.allowSelectClass.push("widget");
				break
		}
	}
	this.parentObject = window.dialogArguments['parent'];
	this.selectType = window.dialogArguments['selectType'];
}

structBrowser.search = function(name){
	
}

jQuery(function(){
	structBrowser.getArgumentFromParent();
	structBrowser.closeArgsAndTitleInputByNeed();
	
	jQuery("#submitClassInfo").click(function(){
		if(jQuery('.selectClass').length == 0){
			alert("请至少选定一个对象");
			return;
		}
		if(structBrowser.selectType == "handle"){
			jQuery(structBrowser.parentObject.document).find("#source_controller_class").val(jQuery("#classname").val());
			jQuery(structBrowser.parentObject.document).find("input[name='source_controller_params']").val(jQuery("#args").val());
			jQuery(structBrowser.parentObject.document).find("input[name='source_controller_comment']").val(jQuery("#title").val());
		}else{
			jQuery(structBrowser.parentObject.document).find("#target_controller_class").val(jQuery("#classname").val());
		}
		window.close();
	});
	
	jQuery(".folder").live("click",function(e){
		var that = jQuery(this);
		var bIsSelectClass = false; 
		for(var c in structBrowser.allowSelectClass){
			bIsSelectClass = that.hasClass(structBrowser.allowSelectClass[c]) || bIsSelectClass;
		}
		if(!bIsSelectClass){
			return;
		}
		jQuery(".folder").removeClass("selectClass");
		that.addClass("selectClass");
		jQuery("#classname").val(that.data("class"));
		console.log(that.data("name"));
		jQuery("#name").val(that.data("name"));
		jQuery("#args").val(that.data("params"));
		jQuery("#title").val(that.data("title"));
	});
});
</script>
<div class="structBrowser_left">
	<ul id="browser" class="filetree"></ul>
</div>

<div class="structBrowser_right">
	<label for="classname">类名<input type="text" id="classname" value="" style="width:400px" /></label><br/>
	<label for="name">名称<input type="text" id="name" value="" style="width:400px" /></label><br/>
	<label for="args">参数<input type="text" id="args" value="" style="width:400px" /></label><br/>
	<label for="title">标题<input type="text" id="title" value="" style="width:400px" /></label><br/>
	<input type="button" id="submitClassInfo" value="提交" /><br/>
	
	<input type="text" id="current_url" value="" style="width:400px" /> 
	<input type="button" value="打开网页" onclick="structBrowser.location()" /><br/>
	
	<iframe id="iframe-browser" src="{/*.url.path}?mvcmerger_browser=1" width="100%" height="600px" />
</div>