a:link,a:visited,a:hover,a:active {text-decoration: none;}
.clr{ clear:both}


/*****框架******

.ui-widget-header{background:url(../image/box_titlebg.png) repeat-x 0 0; height:39px; color:#7e7e7e; font-weight: bold;text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);}
#ui-dialog-title-mergepannel-dialog a{ display:none;}
#ui-dialog-title-mergepannel-dialog .selected_mvcmerger{  display:block; height:33px; background:url(../image/box_titleico.png) no-repeat 0 -6px; line-height:28px; color:#7e7e7e; display:inline; text-decoration:none; padding-left:35px}
********/
/****顶部****/
.body_top{ width:100%; background:url(../image/topbg.png) repeat-x;}
.body_top_menu{ width:950px; margin:auto;}
.body_top_menu .body_top_bj{ width:95px; height:25px; background:url(../image/top_button_hover.png) 0 -152px; display:block; float:left; margin-right:45px;}
.body_top_menu .body_top_bj:hover{background:url(../image/top_button_hover.png) 0 0px;}
/*****布局******/
.box_bj_top{margin-bottom:3px;}
.box_bj_top_tab{ height:28px; padding:23px 0 0 50px; background:url(../image/box_titlebg1.png) repeat-x bottom;}
.box_bj_top_tab p{ width:115px; float:left; height:28px; line-height:28px; color:#999; text-align:center; cursor:hand}
.box_bj_top_tab p a{ color:#999}
.box_bj_top_tab .box_tab_v{ border:#e3e3e3 1px solid; border-bottom:none; color:#666; background:#fff; font-weight:700}
.box_bj_top_tab .box_tab_v a{ color:#666}
.box_bj_top_tab span{float:right;}

.box_button_left{ display:block; height:25px; line-height:25px; background:url(../image/box_sc.png) -739px -245px no-repeat; padding-left:10px;}
.box_button_right{ display:block; height:25px; line-height:25px; padding-right:10px; background:url(../image/box_sc.png) right -188px no-repeat; float:left}

.box_frame{ padding-top:14px;background:url(../image/box_titlebg2.png) repeat-x bottom;}
.box_frame_img{  height:60px; padding-top:6px; width:100px; float:left;}
.box_frame_img strong{ display:none;background:url(../image/cross-circle.png) no-repeat; width:16px; height:16px; margin-top:-66px; margin-left:70px; position:absolute}
.box_frame_img strong a{ display:block; width:16px; height:16px;}
.box_frame_img p{  display:none;background:url(../image/information.png) no-repeat; width:16px; height:16px; margin-top:-66px; margin-left:52px; position:absolute}
.box_frame_img p a{ display:block; width:16px; height:16px;}
.box_frame_img img{ width:58px; height:41px; margin:auto; display:block}
.box_frame_img span{ display:block; color:#999; height:15px; margin:2px auto 0; width:80%; overflow:hidden; text-align:center;}
.box_top_left,.box_top_right{float:left;}
.box_top_left a{ display:block; height:66px; width:13px; background:url(../image/box_sc.png) -359px 0 no-repeat; margin:0 15px 0 5px;}
.box_top_right a{ display:block; height:66px; width:13px; background:url(../image/box_sc.png) -402px 0 no-repeat;}
.box_frameskin_foot{ height:11px; text-align:center;background:url(../image/box_titlebg3.png) repeat-x bottom;}
.box_frameskin_foot a{display:block; width:49px; height:11px; margin:auto; background:url(../image/box_sc.png) no-repeat;}
.frame_selecter_item_container{float:left;height:66px;overflow:hidden;}

.box_bj_left{ width:34%; float:left; background:#fafafa; border:#e4e4e4 1px solid; padding:2px 2px 0 0;}
.box_bj_left_button{ padding:8px; border-bottom:#e9e9e9 1px dashed}

.box_bj_right{ width:64%; margin-left:3px; float:left}
.box_bj_right_top{ height:32px; padding:10px 0 0 10px; border-bottom:#eee 1px solid; border-top:#dfdfdf 1px solid; background:url(../image/bjrighttopbg.png) repeat-x}
.box_bj_right_top_left{ width:80%; float:left; color:#004a8a}
.box_bj_right_top_right{ width:20%; float:right;}
.box_bj_right_footer{ height:272px; overflow:auto;}

.box_bj_right_addframe{ height:45px; padding:15px 0 0 10px; border-bottom:#e8e8e8 1px solid;}
.box_bj_right_addframe .addframe{ padding:2px 10px 2px 19px; background:url(../image/box_sc.png) -404px -197px; }
#mergepannel-props-frame-center-btn{ margin-right:20px;}


.box_bj_right_skin p{ width:45px; text-align:right; padding-right:15px; float:left; margin-top:5px}
.box_bj_right_skin span{ display:block; width:350px; float:left; margin-top:5px;}
.box_bj_right_skin h6{ width:20px; float:left}
#mergepannel-props-borders-showmore{ width:100px; float: none; padding-left:20px}
.mergepannel-props-borders-arrow-down{ background:none}
.mergepannel-props-borders-arrow-left{ background:none}
#mergepannel-props-borders input{ color:#999}

.box_bj_footer{ width:100%; height:45px; padding-top:15px; background:url(../image/box_footerbg.png); float:left; margin-top:5px;}
.box_bj_footer_left{ width:200px; float:left; padding-left:30px;}
.box_bj_footer_right{ width:200px; float:right; padding-right:20px; text-align:right}
#mergepannel-layout-savebtn{ background:url(../image/box_sc.png) -256px -191px; width:101px; height:30px; border:0; display:block; float:right; font-weight:700; color:#3c2200}
#mergepannel-layout-cleanbtn{background:url(../image/box_sc.png) -145px -191px; width:61px; height:30px; border:0; display:block; float:right; font-weight:700; margin-right:20px;}
#mergepannel-layout-msgqueue{ position:absolute; left:500px; top:480px; z-index:700}
.box_bj_right_skin select,.box_bj_right_skin span{ color:#999; margin-left:0}
.box_input1{ background:url(../image/text.png) 5px 3px no-repeat}
.box_input2{ background:url(../image/text.png) -91px 3px no-repeat}
.box_input3{ background:url(../image/text.png) 5px -52px no-repeat}
.box_input4{ background:url(../image/text.png) 5px -107px no-repeat}
.box_input5{ background:url(../image/text.png) 5px -162px no-repeat}
.box_input6{ background:url(../image/text.png) 5px -217px no-repeat}
.box_input7{ background:url(../image/text.png) 5px -272px no-repeat}
.box_input8{ background:url(../image/text.png) 5px -327px no-repeat}
.box_input9{ background:url(../image/text.png) 5px -382px no-repeat}
.box_input10{ background:url(../image/text.png) 5px -437px no-repeat}
.box_input11{ background:url(../image/text.png) 5px -492px no-repeat}
.box_input12{ background:url(../image/text.png) 5px -547px no-repeat}
.box_input13{ background:url(../image/text.png) 5px -600px no-repeat;}

.box_frame_img_v{ background:url(../image/box_sc.png) -719px 4px no-repeat;}

.hide{ display:none}

/*********图标*********/
.box_ico_import{ padding-left:20px;background:url(../image/box_sc.png) -241px -440px; }
.box_ico_firebug{ padding:25px 25px 0 0;background:url(../image/box_sc.png) -575px -378px; float:left  }
.box_ico_mk{ padding:16px 20px 0 0; background:url(../image/box_sc.png) left -426px}