.mergepannel-viewtree-item-draggable {
	cursor: move;		
}
#mergepannel-viewtree-dropping-tip{
	z-index: 300;
	position: absolute;
	display:none;
	border: 1px solid #ccc;
	padding: 4px 10px ;
	background-color: #f9f9f9;
}
/*提高移动node时指针的高度*/
.zTreeDragUL , .tmpzTreeMove_arrow{
	z-index:510;
}

/* 当鼠标在视图列表上划过时，对应的视图 闪烁效果 
.mergepannel-layout-view-flashing {
	border: 1px solid red;
}
.mergepannel-layout-frame-flashing {
	border: 1px solid green;
}*/


/*对话框内部*/
#mergepannel-layout-flashing{
	display:none;
}
.mergepannel-layout-view-flashing {
	position:absolute;
	z-index:300;
	background:green;
	border:1px solid #666;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity: 0.5;
}
.mergepannel-layout-frame-flashing{
	position:absolute;
	z-index:300;
	background:red;
	border:1px solid #666;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity: 0.5;
}

/* 正在拖拽的 frame/item */
.mergepannel-layout-item-dragging-active {
	background-color: #cfcfcf;
}

.mergepannel-viewtree-item {
	margin-left: 6px ;	
}

.view-container{
}
.mergepannel-viewtree-space{
	height: 10px ;
}
.mergepannel-viewtree-item{
}

.mergepannel-viewtree-item-info {
	cursor: default;
}
.mergepannel-viewtree-item-info-draggable:hover{
	color:red ;	
	cursor: move;
}

/* 视图列表上 展开下级的 按钮 */
.children-switch {
	width: 12px ;	
	height: 12px ;
	float: left ;
	cursor: pointer;
}
.children-switch-expand {
	background: url('../image/expand.png') ;
}
.children-switch-collapse {
	background: url('../image/collapse.png') ;	
}
.mergepannel-viewtree-item-type-icon{
	float: left ;
}
.view-title{
	clear: clear:both ;
}

.mergepannel-viewtree-item .view-description{
	color: #999 ;	
}

#mergepannel-layout-struct{
	float: left ;
}
#mergepannel-viewtree{
	overflow:scroll;
	overflow-x:scroll;
}
#mergepannel-properties{
	float: left ;
	width:230px;
}

#mergepannel-viewtree-placeholder{
	border: 1px solid #ccc;	
	background-color: #efefef;
	height: 50px ;
}

#mergepannel-layout-struct-title ,#mergepannel-props-type-text{
	font-size:16px;
	font-weight:bold;
	line-height:20px;
}
#mergepannel-props-id-text{
	font-size:14px;
	line-height:18px;
}

/*修正ui的css*/
#mergepannel-dialog{
	background:white;
}

#mergepannel-layout-action{
	position:absolute;
	right:5px;
	bottom:5px;
}
#mergepannel-layout-msgqueue{
	float:left;
}

#mergepannel-props-frame-autowidth-btn{
	width:32px;
	height:32px;
	border:1px solid #333;
	margin:2px;
	background:url(../image/width.gif) no-repeat center center;
}
#mergepannel-props-frame-clearwidth-btn{
	width:32px;
	height:32px;
	border:1px solid #333;
	margin:2px;
	background:url(../image/nowidth.gif) no-repeat center center;
}
#mergepannel-props-frame-autoheight-btn{
	width:32px;
	height:32px;
	border:1px solid #333;
	margin:2px;
	background:url(../image/height.gif) no-repeat center center;
}
#mergepannel-props-frame-clearheight-btn{
	width:32px;
	height:32px;
	border:1px solid #333;
	margin:2px;
	background:url(../image/noheight.gif) no-repeat center center;
}
#mergepannel-props-frame-center-btn{
	width:32px;
	height:32px;
	border:1px solid #333;
	margin:2px;
	background:url(../image/center.gif) no-repeat center center;
}
