.mergepannel-viewtree-item-draggable {
	cursor: move;		
}
#ui-dialog-title-mergepannel-dialog a{
	width:60px;
	height:15px;
	display:block;
	float:left;
}
#ui-dialog-title-mergepannel-dialog .selected_mvcmerger{
	background:#FDE49E;
}
.ui-dialog-title a{
	text-align:center;
	line-height:14px;
}

#mergepannel-viewtree-dropping-tip{
	z-index: 300;
	position: absolute;
	display:none;
	border: 1px solid #ccc;
	padding: 4px 10px ;
	background-color: #f9f9f9;
}
/*提高移动node时指针的高度*/
.zTreeDragUL , .tmpzTreeMove_arrow{
	z-index:1010;
}

/* 当鼠标在视图列表上划过时，对应的视图 闪烁效果 
.mergepannel-layout-view-flashing {
	border: 1px solid red;
}
.mergepannel-layout-frame-flashing {
	border: 1px solid green;
}

*/



/*对话框内部*/
#mergepannel-layout-flashing{
	display:none;
}
.mergepannel-layout-view-flashing {
	position:absolute;
	z-index:300;
	background:green;
	border:1px solid #666;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity: 0.5;
}
.mergepannel-layout-frame-flashing{
	position:absolute;
	z-index:300;
	background:red;
	border:1px solid #666;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity: 0.5;
}

/* 正在拖拽的 frame/item */
.mergepannel-layout-item-dragging-active {
	background-color: #cfcfcf;
}

.mergepannel-viewtree-item {
	margin-left: 6px ;	
}

.view-container{
}
.mergepannel-viewtree-space{
	height: 10px ;
}
.mergepannel-viewtree-item{
}

.mergepannel-viewtree-item-info {
	cursor: default;
}
.mergepannel-viewtree-item-info-draggable:hover{
	color:red ;	
	cursor: move;
}

/* 视图列表上 展开下级的 按钮 */
.children-switch {
	width: 12px ;	
	height: 12px ;
	float: left ;
	cursor: pointer;
}
.children-switch-expand {
	background: url('../image/expand.png') ;
}
.children-switch-collapse {
	background: url('../image/collapse.png') ;	
}
.mergepannel-viewtree-item-type-icon{
	float: left ;
}
.view-title{
	clear: clear:both ;
}

.mergepannel-viewtree-item .view-description{
	color: #999 ;	
}

#mergepannel-layout-struct{
	margin-right:300px;
}
#mergepannel-viewtree{
	overflow:scroll;
	overflow-x:scroll;
}

#mergepannel-props-css{
	font-size:12px;
}

#mergepannel-props-css h3{
	display:inline;
}


#mergepannel-viewtree-placeholder{
	border: 1px solid #ccc;	
	background-color: #efefef;
	height: 50px ;
}

#mergepannel-layout-struct-title ,#mergepannel-props-type-text{
	font-size:16px;
	font-weight:bold;
	line-height:20px;
}
#mergepannel-props-id-text{
	font-size:14px;
	line-height:18px;
}

/*修正ui的css*/
#mergepannel-dialog{
	background:white;
	opacity: 0.7;
	/*filter:alpha(opacity=70);*/
}

#mergepannel-layout-action{
	width:100%;
}
#mergepannel-layout-msgqueue{
	float:left;
}

#mergepannel-props-properties-overflow{
	height:350px;
	overflow:scroll;
}

#mergepannel-props-borders-showmore{
	display:inline-block;
	width:20px;
	height:20px;
	float:right;
}
#mergepannel-props-borders{
	display:none;
}
.mergepannel-props-borders-arrow-left{
	background:url(../image/arrow_left.png) center center no-repeat;
}
.mergepannel-props-borders-arrow-down{
	background:url(../image/arrow_down.png) center center no-repeat;
}

#addViewHelp{
	display:block;
	position:absolute;
	top:13px;
	right:13px;
	width:16px;
	height:16px;
	background:url(../image/addViewHelp.gif) center center no-repeat;
}

#mergepannel-showmore{
	display:block;
	width:20px;
	height:20px;
}
.mergepannel-showmore-left{
	background:url(../image/arrow_left.png) center center no-repeat;
}
.mergepannel-showmore-down{
	background:url(../image/arrow_down.png) center center no-repeat;
}

#mergepannel-controllermerger{
	display:none;
}
.mvc_merger-layout_settable_view_mouseover{
	border: 1px solid #A7D3DA;
	background-color: #E4F4FF;	
}

.mvc_merger-layout_settable_view_dragging{
	border: 1px solid #FFE2B0;
	background-color: #FF6A40;
}


#mvc_merger-layout-dropping-buttons-box{
	position: absolute;
	z-index: 2000;
	display:none;
}
#mvc_merger-layout-dropping-buttons-box .mvc_merger-layout-dropping-button{
	float: left;
	width: 50px ;
	height: 50px ;
	padding: 5px;
}
.mvc_merger-layout-dropping-button:hover{
	border: 1px solid #A7D3DA;
	background-color: #E4F4FF;
}

.optionBtnsContainer{
	height:20px;
	position: absolute;
	left:3px;
	top:3px;
}
.styleoption_open_btn{
	width:20px;
	height:20px;
	margin:0 2px;
	float:left;
}

.jc-view-btn-item{
	background:red;
}
.jc-view-btn-vertical{
	background:green;
}
.jc-view-btn-horizontal{
	background:blue;
}
.jc-view-btn-tab{
	background:black;
}
.highLightFrame{
	background:gray;
}
.styleoption_margin_u,.styleoption_margin_r,.styleoption_margin_b,.styleoption_margin_l,
.styleoption_padding_r ,.styleoption_padding_l , .styleoption_padding_u,.styleoption_padding_b,
.styleoption_border_top,.styleoption_border_left,.styleoption_border_right,.styleoption_border_bottom,
.styleoption_border_color_top,.styleoption_border_color_left,.styleoption_border_color_right,.styleoption_border_color_bottom
{
	width:45px;
}

#ub_dialog{
	
}
#ub_left{
	height:90%;
	margin-right:320px;
}
#ub_right{
	width:300px;
	height:90%;
	float:right;
}
#ub_source{
	width:100%;
	height:160px;
}
#ub_template{
	width:300px;	
}
#ub_xpath{
	width:300px;	
}
.highlight{
	background:#F6A828;
}
#ub_template{
	width:250px;
}
#ub_xpath{
	width:250px;
}

#ub_template_list{
	border:1px solid #999;
	overflow: auto;
}

#ub_template_list ul,#ub_template_list li{
	cursor: pointer;
}

.selectTag{
	font-weight:bold;
	color:green;
}

.selectTag li span{
	font-weight:normal;
	color:black;
}

#tagToolbtns{
	position:absolute;
	width:auto;
	height:30px;
}
.patchNum{
	color:red;
	font-weight:bold;
}
#mergepannel-dialog .ztree li a{
	cursor: move;
}

/* tabs */
#mergepannel-dialog .ui-state-default a 
, #mergepannel-dialog .ui-state-default a:link
, #mergepannel-dialog .ui-state-default a:visited{
background:#FFCC4D;
color: white;
}

#mergepannel-dialog .ui-state-active.ui-tabs-selected a{
background:white;
color: #EB8F00;
}
#mergepannel-dialog .ui-tabs-nav{
	height:22px;
}
#mergepannel-dialog .ui-tabs-nav li{
	height:20px;
	line-height:20px;
}
#mergepannel-dialog .ui-tabs-nav li a{
	padding:0 4px;
}
/* end tabs */

#ub_toolbox{
	width:100%;
	height:30px;
}
.toolBtns{
	width:26px;
	height:26px;
	float:left;
}
.toolBtnSelect{
	border:blue 2px solid ;
}
#ub_select_dom{
	background:url(../image/select.gif) center center no-repeat;
}
#view_select_dom{
	width:26px;
	height:26px;
	background:url(../image/select.gif) center center no-repeat;
}
.domToNode{
	border:blue 2px solid ;
}

.mvcmerger_template_namespace{
	color: #999999 ;
}

#mergepannel-properties{
	float: right ;
	width:290px;
	line-height:22px;
	position:relative;
}

#mergepannel-properties button{
	height:22px;
	line-height:16px;
	margin:2px;
}
#mergepannel-props-color-selecter{
	position:absolute;
	display:none;
}

/* 添加视图 */
#mergeCtl_change_panel{width:60px;height:20px;position:absolute;top:10px;right:10px;}

#mergeCtl_panel input{height:20px;font-size:12px;line-height:16px;margin:2px 0;border:1px #999 solid}
#mergeCtl_panel select{height:20px;font-size:12px;line-height:16px;margin:2px 0;border:1px #999 solid}
#mergeCtl_panel textarea{border:1px #999 solid}

#mergeCtl_modify_target_save_params{display:none}
.mergeCtl_modify_target_form{ display:none; }

#mergeCtl_templateTree{overflow:auto;width:300px;}

#mergeCtl_tabs{margin:5px 0 ;position:relative;}
#mergeCtl_tabs_ul{height:20px;text-align:center;line-height:20px;}
#mergeCtl_tabs_ul li{width:60px;height:20px;display:block;float:left;margin-left:2px;}
#mergeCtl_tabs_ul a{width:60px;height:19px;display:block;border-width:1px 1px 0px 1px ; border-style:solid;border-color:white;background:white;}
#mergeCtl_tabs_ul a.mergeCtl_tabs_select{height:20px;border-width:1px 1px 0px 1px ; border-style:solid;border-color:#999;}

.mergeCtl_tabs{border-top-width:1px; border-top-style:solid;border-top-color:#999;padding:5px;}

#mergeCtl_select_dialog{background:rgb(255,255,255)}

#ub_tabs{margin:5px 0 ;position:relative;}
#ub_tabs_ul{height:20px;text-align:center;line-height:20px;}
#ub_tabs_ul li{width:60px;height:20px;display:block;float:left;margin-left:2px;}
#ub_tabs_ul a{width:60px;height:19px;display:block;border-width:1px 1px 0px 1px ; border-style:solid;border-color:white;background:white;}
#ub_tabs_ul a.ub_tabs_select{height:20px;border-width:1px 1px 0px 1px ; border-style:solid;border-color:#999;}
.ub_tabs{border-top-width:1px; border-top-style:solid;border-top-color:#999;padding:5px;}


/* end 添加视图 */

.mergepannel-layout-view{
	float: right ;
	line-height:22px;
	position:relative;
}

.mergepannel-layout-view-header{
	font-size:16px;
	font-weight:bold;
	line-height:20px;
}
