#ub_dialog{
	
}
#ub_left{
	width:50%;
	height:90%;
	float:left;
	overflow-x:auto;
	overflow-y:auto;
}
#ub_right{
	width:50%;
	height:90%;
	float:left;
	overflow-x:auto;
	overflow-y:auto;
}
#ub_source{
	width:100%;
	height:160px;
}
#ub_template{
	width:300px;	
}
#ub_xpath{
	width:300px;	
}
.highlight{
	background:#F6A828;
}

#ub_template_list{
	
}

#ub_template_list ul,#ub_template_list li{
	cursor: pointer;
}

.selectTag{
	font-weight:bold;
	color:green;
}

.selectTag li span{
	font-weight:normal;
	color:black;
}

#viewbtns{
	display:none;
	position:absolute;
	width:auto;
	height:30px;
}
#showTag{
	width:30px;
	height:30px;
}

#ub_toolbox{
	width:100%;
	height:30px;
}
.toolBtns{
	width:26px;
	height:26px;
	float:left;
}
.toolBtnSelect{
	border:blue 2px solid ;
}
#ub_select_dom{
	background:red;
}
#ub_select_tag{
	background:green;
}
