.mvc_merger-layout_settable_view_mouseover{
	border: 1px solid #A7D3DA;
	background-color: #E4F4FF;	
}

.mvc_merger-layout_settable_view_dragging{
	border: 1px solid #FFE2B0;
	background-color: #FF6A40;
}


#mvc_merger-layout-dropping-buttons-box{
	position: absolute;
	z-index: 2000;
	display:none;
}
#mvc_merger-layout-dropping-buttons-box .mvc_merger-layout-dropping-button{
	float: left;
	width: 50px ;
	height: 50px ;
	padding: 5px;
}
.mvc_merger-layout-dropping-button:hover{
	border: 1px solid #A7D3DA;
	background-color: #E4F4FF;
}

.propertiesDialog{
}

.optionBtnsContainer{
	height:20px;
	position: absolute;
	left:3px;
	top:3px;
}
.propertiesDialog_open_btn{
	width:20px;
	height:20px;
	margin:0 2px;
	float:left;
}

.jc-view-btn-item{
	background:red;
}
.jc-view-btn-vertical{
	background:green;
}
.jc-view-btn-horizontal{
	background:blue;
}
.jc-view-btn-tab{
	background:black;
}
.highLightFrame{
	background:gray;
}
.propertiesDialog_margin_u,.propertiesDialog_margin_r,.propertiesDialog_margin_b,.propertiesDialog_margin_l,
.propertiesDialog_padding_r ,.propertiesDialog_padding_l , .propertiesDialog_padding_u,.propertiesDialog_padding_b,
.propertiesDialog_border_top,.propertiesDialog_border_left,.propertiesDialog_border_right,.propertiesDialog_border_bottom,
.propertiesDialog_border_color_top,.propertiesDialog_border_color_left,.propertiesDialog_border_color_right,.propertiesDialog_border_color_bottom
{
	width:45px;
}

